*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
	body{
	display: flex;
	flex-direction: column;
	background-color: rgb(39, 38, 38);
	overflow-x: hidden;
}
	.header{
	border: 0px solid rgb(252, 13, 13);
	display: flex;
	max-width: 100%;
	padding: 3px;
	background-color: #000;
	justify-content: space-between;
}	
	.logo{
	border: 0px solid rgb(252, 13, 13);
	width: 200px;
	height: 70px;
	overflow: hidden;
	border-radius: 10px;
	display: flex;
	flex-direction: start;
}
	.add_area{
	border: 0px solid rgb(252, 13, 13);
	min-width: 400px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
	.add{
	border: 0px solid rgb(252, 13, 13);
	display: flex;
}
	.location{
	border: 0px solid rgb(252, 13, 13);
	width: 20px;
	height: 15px;
}
	.add2{
	border: 0px solid rgb(252, 13, 13);
	display: flex;
	
}
	.mail{
	border: 0px solid rgb(252, 13, 13)d;
	width: 20px;
	height: 15px;	
}
	.add3{
	border: 0px solid rgb(252, 13, 13);
	display: flex;
}
	.phone{
	border: 0px solid rgb(252, 13, 13);
	width: 20px;
	height: 15px;
}
	.nav_div{
	border: 0px solid rgb(252, 13, 13);
	display: flex;
	flex-direction: row;
}
	.nav{
	border: 0px solid rgb(252, 13, 13);
	display: flex;
	justify-content: space-between;
	width: 90px;
	height: 20px;
	overflow: hidden;
	margin-top: 25px;
}
	.home_nav{
	border: 0px solid rgb(252, 13, 13);
	width: 45px;
}
	.mssg_nav{
	border: 0px solid rgb(252, 13, 13);
	width: 45px;
}
	.avatar{
	border: 0px solid rgb(252, 13, 13);
	width: 30px;
	height: 33px;
	margin-top: 20px;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
}
	.user_avatar{
	height: 30px;
}
	.drop_menue{
	border:0px solid rgb(252, 13, 13);
	width: 15px;
	font-family: sans-serif;
	font-size: 25px;
	color: rgb(255, 255, 255);
	margin: 15px;
	padding-top: 5px;
	display: flex;
	justify-content: center;
}
	.main_container{
	border: 0px solid rgb(252, 13, 13);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
	.slide1{
	border: 0px solid rgb(252, 13, 13);
	margin: 10px;
	display: flex;
	min-width: 100px;
	min-height: 100px;
	align-items: center;
	justify-content: center;
}
	.container{
		border: 0px solid rgb(252, 13, 13);
		display: flex;
		flex-wrap: wrap;
		min-width: 50px;
		min-height: 70px;
		align-items: center;
		justify-content: center;	
}
	.cont{
	border: 0px solid rgb(252, 13, 13);
	margin: 10px;
	height: 250px;
	width: 500px;
	display: flex;
	align-items: center;
	justify-content: center;
}
	.conts{
	border: 0px solid rgb(252, 13, 13);
	margin: 10px;
	height: 250px;
	width: 500px;
	display: flex;
	align-items: center;
	justify-content: center;
}
	.footer{
	border: 0px solid rgb(252, 13, 13);
	width: 100%;
	padding: 10px;
	margin: 10px auto 10px auto;
	background-color: #000;
	font-family: sans-serif;
	font-size: 11px;
	color:rgb(255, 255, 255);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}